.main_container {
    border-bottom: 0.5px solid black;
    display: flex
}


.header {
    width: 40%;
    padding: 10px;
}

.header_element {
    border-left: 0.5px solid black;
    width: 20%;
    padding: 10px;
}